@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.person_info {
    margin-bottom: 20px;
    display: flex;
    box-sizing: border-box;
}

.person_info .info_text {
    width: 75%;
    margin-left: 20px;
}

a {
    color: rgba(140, 120, 120, 1);
    text-decoration: none;
}

a:active {
    color: #111;
    text-decoration: underline;
}

a:visited {
    color: darkslateblue;
}

a:hover {
    color: orange;
}

.btn {
    background: #111;
    padding: 10px 20px;
    color: #fff;
    margin-top: 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    display: block;
}

.btn:hover {
    color: orange;
    opacity: .8;
}

.btn:active {
    box-shadow: 5px 5px 5px #111;
}

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #0f141e
}

.avatar {
    width: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .4);
}

.container {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    padding-top: 10px;
}

.person_info h4 {
    margin-bottom: 10px;
}

.container .person_info p {
    font-style: italic;
    font-weight: 400;
    color: #86898f;
    margin: 0;
}

.header2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 6px;
}

.container .block {
    border-radius: 20px;
    border: 4px solid #ddd;
    padding: 15px 15px;
    margin-bottom: 10px;
    /* height: 30%; */
}

.container .hobby {
    background-color: #eafde9;
}

.container .exp {
    background-color: #fbe6e4;
}

.container .course {
    background-color: #fef9df;
}

.list_ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list_ol li {
    margin: 0 16px;
    padding: 4px 0;
    list-style: decimal;
}

.list_ol li:hover {
    background: #ddd;
}

.list_ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list_ul li {
    margin: 0 16px;
    padding: 4px 0;
    list-style: circle;
}

.table {
    width: 100%;
}

.table th {
    border: 2px solid rgba(1, 1, 1, .25);
    margin-left: 0;
}

.table td {
    padding: 6px 0; 
}

.table td:nth-child(1) {
    background-color: pink;
    padding-left: 6px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    text-align: center;
    background: lightpink;
}

.table tr:hover {
    background: #eeefff;
}

.contacts h2 {
    text-align: center;
    /* display: inline-block;b */
}

.contacts_group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.contacts_row {
    margin-bottom: 10px;
    display: flex;
}

.contacts_row .contacts_group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.contacts_row .contacts_group:last-child {
    margin-right: 0;
}

.contacts_row .contacts_group {
    display: inline-block;
}

.contacts_group input,
.contacts_group textarea {
    width: 100%;
    color: #86898f;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 650px) {
    .person_info {
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .person_info img {
        margin: auto;
    }

    .person_info .info_text {
        margin: auto;
    }

    .person_info h1 {
        font-size: 24px;
        margin: 10px auto;
    }

    .contacts_row {
        display: block;
    }

    .contacts_row, .contacts_group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}